@page
@model OfficeManagement.Pages.CalendarModel
@{
}

      <div class="col-md-6 offset-md-3">
        <div class="calendar-container">
          <div class="calendar-header">
            <h2 class="text-center">Calendar</h2>
          </div>
          <div class="calendar-body">
            <div id="calendar" class="border rounded"></div>
          </div>
        </div>
      </div>
 

