@page
@model OfficeManagement.Pages.FAQModel

@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<!-- Content Header -->
  <div class="container">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>FAQ</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Index">Home</a></li>
              <li class="breadcrumb-item active">FAQ</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12" id="accordion">
                        <div class="card card-primary card-outline">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        1.Is training provided for users of the IT office management system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, training sessions or materials may be offered to help users familiarize themselves with the system's features and functionalities, 
                                    ensuring effective utilization.
                                </div>
                            </div>
                        </div>

                        <div class="card card-primary card-outline">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2.Can I update my personal profile in the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, users can typically update their personal profiles within the system, including contact information, job titles, and preferences, 
                                    ensuring accurate and up-to-date records.
                                </div>
                            </div>
                        </div>                 
                        <div class="card-primary card-outline">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        3.Is my personal profile visible to other users?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    No, personal profiles are typically only visible to the individual user and 
                                    authorized administrators, ensuring privacy and confidentiality.
                                </div>
                            </div>
                        </div>
                        <div class="card-success card-outline">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        4.Can I create and assign tasks within projects?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, users can typically create tasks within projects, assign them to team members, set deadlines, 
                                    and track their progress through the system
                                </div>
                            </div>
                        </div>
                        <div class="card-success card-outline">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        5.Is it possible to set up project milestones or deadlines?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, the system may support the creation of project milestones or deadlines, helping teams 
                                    stay on track and meet project objectives within specified timelines.
                                </div>
                            </div>
                        </div>
                        <div class="card-success card-outline">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        6.Is it possible to assign tasks or projects to staff members through the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, the system may include task assignment features that allow users to delegate tasks or projects to specific 
                                    staff members, track their progress, and monitor deadlines.
                                </div>
                            </div>
                        </div>
                        <div class="card-warning card-outline">
                            <div class="card-header" id="headingSeven">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        7.How are staff roles and permissions managed within the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
                                <div class="card-body">
                                    The system typically offers role-based access controls, allowing administrators to define user roles and permissions 
                                    based on job responsibilities and organizational hierarchy.
                                </div>
                            </div>
                        </div>
                        <div class="card-warning card-outline">
                            <div class="card-header" id="headingEight">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        8.How does the system ensure confidentiality and security of communication?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-bs-parent="#accordion">
                                <div class="card-body">
                                    The system employs encryption, access controls, and other security measures to protect sensitive communication data from unauthorized access or interception, 
                                    ensuring confidentiality and integrity.
                                </div>
                            </div>
                        </div>
                        <div class="card-warning card-outline">
                            <div class="card-header" id="headingNine">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        9.How does the system handle urgent or high-priority messages?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-bs-parent="#accordion">
                                <div class="card-body">
                                    The system may offer features for marking messages as urgent or high-priority, ensuring that they receive immediate attention 
                                    from recipients and are not overlooked.
                                </div>
                            </div>
                        </div>
                        <div class="card-danger card-outline">
                            <div class="card-header" id="headingTen">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        10.How does the system ensure confidentiality and security of communication?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-bs-parent="#accordion">
                                <div class="card-body">
                                    The system employs encryption, access controls, and other security measures to protect sensitive communication data from unauthorized access or interception, ensuring 
                                    confidentiality and integrity
                                </div>
                            </div>
                        </div>
                        <div class="card-danger card-outline">
                            <div class="card-header" id="headingEleven">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        11.Can I create or schedule new events within the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, users with appropriate permissions may be able to create or schedule new events within the system, including specifying details such as date, 
                                    time, location, and attendees.
                                </div>
                            </div>
                        </div>
                        <div class="card-danger card-outline">
                            <div class="card-header" id="headingTwelve">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                        12.How does messaging and email integration work in the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Messaging and email integration allows users to send messages or emails directly within the system, facilitating seamless communication and 
                                    collaboration among team members.
                                </div>
                            </div>
                        </div>
                        <div class="card-secondary card-outline">
                            <div class="card-header" id="headingThirteen">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                        13.Is there a feature for sharing files or documents with other users?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, the system may offer file sharing functionality that allows users to upload, share, and collaborate on documents, ensuring centralized 
                                    access and version control.
                                </div>
                            </div>
                        </div>
                        <div class="card-secondary card-outline">
                            <div class="card-header" id="headingFourteen">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                        14.Can I share my calendar with other users or teams?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Yes, users may be able to share their calendars with other users or teams within the system, enabling better coordination and 
                                    visibility of schedules across the organization.
                                </div>
                            </div>
                        </div>
                        <div class="card-secondary card-outline">
                            <div class="card-header" id="headingFifteen">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                        15.How are project documents or files managed within the system?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordion">
                                <div class="card-body">
                                    The system may offer document management features that allow users to upload, share, and collaborate on project documents, ensuring 
                                    centralized access and version control.
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-12 mt-3 text-center">
                        <p class="lead">
                            <a href="contact-us.html">Contact us</a>,
                            if you found not the right answer or you have another question?<br>
                        </p>
                    </div>
                </div>
            </section>
  </div>
  <!-- /.content-wrapper -->

  

        
