@page
@model OfficeManagement.Pages.OfficeBugTracking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <!-- Content Header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add Bug Report</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Add Bug Report</li>
                    </ol>
                </div>
            </div>
        </div>
     </section>

     <hr />
     <!-- Main Conetent -->
     <section class="content">
         <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-bs-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Title" class="control-label"></label>
                            <input asp-for="BugTracking.Title" class="form-control" />
                            <span asp-validation-for="BugTracking.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Priority" class="control-label"></label>
                            <input asp-for="BugTracking.Priority" class="form-control" />
                            <span asp-validation-for="BugTracking.Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Project" class="control-label"></label>
                            <input asp-for="BugTracking.Project" class="form-control" />
                            <span asp-validation-for="BugTracking.Project" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Description" class="control-label"></label>
                            <input asp-for="BugTracking.Description" class="form-control" />
                            <span asp-validation-for="BugTracking.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.CreatedDate" class="control-label"></label>
                            <input asp-for="BugTracking.CreatedDate" class="form-control" />
                            <span asp-validation-for="BugTracking.CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Status" class="control-label"></label>
                            <input asp-for="BugTracking.Status" class="form-control" />
                            <span asp-validation-for="BugTracking.Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BugTracking.Submitter" class="control-label"></label>
                            <input asp-for="BugTracking.Submitter" class="form-control" />
                            <span asp-validation-for="BugTracking.Submitter" class="text-danger"></span>
                        </div>
                    </div>
                <!-- /.card-body -->
                </div>
            <!-- /.card -->
            </div>
            <div class="row">
    <div class="col-12">
        <input type="submit" value="Add new Project" class="btn btn-success">
        <div class="float-right">
            <a asp-page="Index" class="btn btn-info mr-2">Back to List</a>
            <a href="#" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
        </div>
    </section>
    </div>
    <br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
